services:
  db:
    image: postgres:16
    container_name: tasker_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: tasker_backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app


  bot:
    build: ./bot
    container_name: tasker_bot
    env_file:
      - ./bot/.env
    depends_on:
      - backend
    volumes:
      - ./bot:/app

volumes:
  pgdata:
